---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Google Tag Manager -->
		<script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-KC2PFHWP');</script>
		<!-- End Google Tag Manager -->

		<!-- Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-R24GW4SCEY"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-R24GW4SCEY');
		</script>

		<!-- Meta Pixel Code -->
		<script is:inline>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window, document,'script',
		'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '1551525702761672');
		fbq('track', 'PageView');
		</script>
		<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=1551525702761672&ev=PageView&noscript=1"
		/></noscript>
		<!-- End Meta Pixel Code -->

		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<meta name="generator" content={Astro.generator} />
		
		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

		<title>{title}</title>
		
		<!-- Global Slots for Head (like Schema) -->
		<slot name="head" />
	</head>
	<body class="bg-black text-hermetic-white font-sans min-h-screen relative overflow-x-hidden selection:bg-hermetic-sulfur selection:text-black">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KC2PFHWP"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		
		<!-- GLOBAL BACKGROUND LAYERS -->
			<div class="stars"></div>
			<div class="fog-layer"></div>
		<div class="noise-overlay"></div>
		<div class="fixed top-0 left-1/2 w-px h-full bg-gradient-to-b from-transparent via-hermetic-gold/30 to-transparent -translate-x-1/2 z-0"></div>

		<!-- PAGE CONTENT -->
			<slot />

	</body>
</html>
